<p id="notice"><%= notice %></p>

<p>
  <strong>Width:</strong>
  <%= @image.width %>
</p>

<p>
  <strong>Height:</strong>
  <%= @image.height %>
</p>

<p>
  <strong>Max width:</strong>
  <%= @image.max_width %>
</p>

<p>
  <strong>Max height:</strong>
  <%= @image.max_height %>
</p>

<p>
  <strong>Scaled width:</strong>
  <%= @image.scaled_width %>
</p>

<p>
  <strong>Scaled height:</strong>
  <%= @image.scaled_height %>
</p>

<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>
